<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>UPDATES</h2>
            <h3 class="text-muted">LATEST NEWS</h3><hr/>
            <p>From the beginning, the CrossFit movement has provided an alternative to the prevailing commercial gym establishment and its signature “big-box,” machine-based, bodybuilding approach to fitness.
                We promoted the ethic and aesthetic of the garage gym in large part to provide a home and refuge for our more athletic programming, which couldn’t find quarter in the commercial gyms. CrossFit is not a franchising organization and never will be. Our affiliates constitute a confederation of legitimate fitness practitioners united around constantly varied, intense, functional exercise and pooling reliable resources under the CrossFit name.
                Today, with over 15,000 affiliates worldwide, we see ourselves as part of a larger war between the methods, outcomes, and principles of big-box franchisors such as the Gold’s, Bally’s, and 24-Hour Fitnesses versus those of our small-box facilities.
                CrossFit affiliation is an Internet-based, grassroots movement started by CrossFitters who wanted their own local CrossFit-equipped gyms, trainers, and communities. It has become a call to all who really care about fitness to get the car out of the garage, pick up some dumbbells, a barbell, a few plates, a pull-up bar, and some rings, and try the Workout of the Day. Inviting a friend to participate compounds the experience. Keep it up and before long you’ll need a bigger space. Write us an essay (application), license a name, set up a website, send us photos, and you become part of the growing community of CrossFit affiliates.
                For more specific information on the affiliation process, see How to Affiliate.
            </p><hr/>
        </div> 
    </div>
    <div class="row my-4">
        <div class="col-5">
            <h5>2020 Crossfit Games Announces New Online + In-Person Format</h5>
            <p>CrossFit today announced a change to the format for the 2020 Reebok CrossFit Games that will separate the event into two stages: an online competition in athletes’ home countries from which the top five men and top five women will advance and an in-person finals in California to crown the Fittest Man and Fittest Woman on Earth.  </p>
            <button class="btn btn-dark">LEARN MORE</button>
        </div>
        <div class="col-5">
        
            <h5>Support your local box foundraiser</h5>
            <p>The Support Your Local Box Fundraiser is a CrossFit event for the benefit of CrossFit affiliates affected by COVID-19 around the globe. The temporary closures and distance between us cannot keep this community apart. Affiliates around the world have demonstrated this through their actions over the past few weeks. Now, the entire CrossFit community has an opportunity to come together in support of our affiliates.</p>
            <button class="btn btn-dark">LEARN MORE</button>
        </div>
    </div>
</div>