<div class="container">
    <div class="row">
        <div class="col-12">
        <h2>WOD</h2>
        <h3 class="text-muted">WORK OF THE DAY</h3><hr/>
            <h1 class="font-weight-bold">200901</h1>
            <h3>TUESDAY</h3>
            <h4 class="text-muted">Featured Daily: September 01, 2020</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 border-right my-5">
            <h4>Workout of the Day</h4><hr/>
              <h5>Midline March</h5>
                Max reps shoulder press, 95/135 lb. <br> <br>
                25 GHD sit-ups <br>
                50-ft. handstand walk <br>
                50-ft. overhead walking lunge <br>
                ♀ 115-lb. OH lunge ♂ 155-lb. OH lunge <br> 
                <br>
                Compare to <a href="">170320</a>.
        </div>
        <div class="col-6 my-5">
            <h4>Games History: Midline March</h4><hr/>
            <p>Going into Sunday at the 2014 Games, defending champion Rich Froning and Mat Fraser were 
            at a near tie for the lead. Froning's domination in Midline March would set the tone for the 
            rest of the day, as he went on to win all of Sunday's events and secure his fourth CrossFit 
            Games championship.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-bold">200831</h1>
            <h3>MONDAY</h3>
            <h4 class="text-muted"> Featured Daily: August 31, 2020</h4>
        </div>
        <div class="col-6 border-right my-5">
            Max reps L pull-up <br>
            Max reps shoulder press, 75/115 lb. <br>
            Max reps strict pull-up <br>
            Max reps shoulder press, 65/95 lb. <br>
            Max reps chest-to-bar pull-up <br>
            Max reps shoulder press, 45/65 lb. <br>
            Max reps pull-up <br> <br>
            
            Rest at least 2 minutes between exercises. <br> 
            
            Compare to <a href="">140720</a> .
        </div>
        <div class="col-6 my-5">
            <h4>The Heart, Part 6: Blood Vessel Basics</h4><hr/>
            <p>Blood vessels are adaptable to stress. If there is hypoxic stress 
                (low oxygen content present) that results in tissue hypoxemia 
                (low oxygen in the tissue), a cascade of local hormonal and anabolic 
                events occurs that produces new capillaries and new arterioles. 
                This process is called angiogenesis and is considered to be an 
                endurance-friendly anatomical adaptation, improving the body’s 
                capacity to deliver oxygen to working skeletal muscle.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-bold">200829</h1>
            <h3>SATURDAY</h3>
            <h4 class="text-muted">Featured Daily: August 29, 2020</h4>
        </div>
        <div class="col-6 border-right my-5">
            <h4>Workout of the Day</h4><hr/>
              <h5>2009 Couplet</h5>
              3 rounds for time of:<br><br>

              30 wall-ball shots<br>
              30 squat snatches<br><br>
              
              ♀ 14-lb. ball, 45-lb. snatch<br>
              ♂ 20-lb. ball, 75-lb snatch<br><br>
              
              Compare to <a href="">100816</a>.
        </div>
        <div class="col-6 my-5">
            <h4>Games History: 2009 Couplet
            </h4><hr/>
            <p>The first day of the 2009 Games was grueling. Having five events in a single 
                day was unprecedented and forever raised the bar in terms of how much 
                athletes needed to be prepared to handle. The final event of the day, 
                wall balls and light squat snatches,demonstrated the elegant potency of 
                high-rep, lightweight couplets.</p>
        </div>
    </div>

</div>