<div class="container">
<div class="row">
    <div class="col-10 mb-5">
        <h2>AFFILIATION</h2>
        <h3 class="text-muted">ABOUT THE PROGRAM</h3><hr/>
        <p class="text-justify">From the beginning, the CrossFit movement has provided an alternative to the prevailing commercial gym establishment and 
            its signature “big-box,” machine-based, bodybuilding approach to fitness. <br><br>
            We promoted the ethic and aesthetic of the garage gym in large part to provide a home and refuge for our more athletic programming, 
            which couldn’t find quarter in the commercial gyms. <br><br>
            CrossFit is not a franchising organization and never will be. Our affiliates constitute a confederation of legitimate fitness practitioners
            united around constantly varied, intense, functional exercise and pooling reliable resources under the CrossFit name. <br><br>
            Today, with over 15,000 affiliates worldwide, we see ourselves as part of a larger war between the methods, outcomes, and principles of big-box 
            franchisors such as the Gold’s, Bally’s, and 24-Hour Fitnesses versus those of our small-box facilities. <br><br>
            CrossFit affiliation is an Internet-based, grassroots movement started by CrossFitters who wanted their own local CrossFit-equipped gyms, 
            trainers, and communities. It has become a call to all who really care about fitness to get the car out of the garage, pick up some dumbbells, 
            a barbell, a few plates, a pull-up bar, and some rings, and try the Workout of the Day. Inviting a friend to participate compounds the experience. 
            Keep it up and before long you’ll need a bigger space. Write us an essay (application), license a name, set up a website, send us photos, 
            and you become part of the growing community of CrossFit affiliates. <br> <br>
            For more specific information on the affiliation process, see How to Affiliate.
        </p>
        
    </div>
    <div class="col-10 bg-light mb-5 p-4">
        <p>
            We want to fuel a revolution in fitness that advocates the pursuit of function, not form — that measures performance, not anatomy. 
            We want rings and bumper plates in our gyms, not machines. We believe that where you train is less important than how you train and 
            that who you train with matters more than what gear you have. We know this can be done in little boxes and we’ve proven that the 
            garage is as good an environment as any for Forging Elite Fitness®. <br> <br>
        </p>
        <p class="text-right">Greg Glassman, CrossFit Founder</p>
    </div>

</div>
</div>