<div class="container">
    <div class="row">
        <div class="col-10 mb-5">
            <h2>CERTIFICATIONS</h2>
            <h3 class="text-muted">OVERVIEW</h3><hr/>
            <p class="text-justify">
                CrossFit, LLC is dedicated to the advancement of human health and athletic performance.It is the first fitness organization to provide precise and quantifiable definitions of fitness and health. 
                This precision demands results that are observable, measurable, and repeatable. <br>
                CrossFit’s education and training offerings are designed in accordance with the highest standard of efficacy and excellence in human physical development. <br> 
                In addition to entry-level courses such as the Level 1 Certificate Course, intermediate-level courses such as the Level 2 Certificate Course, and age-specific courses such as the CrossFit Kids Certificate Course, CrossFit offers two credentialing opportunities for trainers seeking to attain a 
                greater degree of knowledge and proficiency. <br>
                CrossFit’s highest credentials require a trainer to demonstrate competency through a written exam such as the Certified CrossFit Level 3 Trainer exam or a performance-based assessment such as the Certified CrossFit Level 4 Coach evaluation.
            </p>
        </div> 
    </div>
    <div class="row mb-5">
        <div class="col-5">
            <div><img src="assets\certification3.png" width="450" height="275" class="d-inline-block align-top img-flex" alt="" loading="lazy"></div>
            <h5>CERTIFIED CROSSFIT LEVEL 3 TRAINER</h5>
            <p>The Certified CrossFit Level 3 Trainer credential is a CrossFit-specific designation for those who have completed the Level 1 and Level 2 Certificate Courses and then successfully passed the CCFT examination. This credential is for the experienced individual seeking to demonstrate a higher level of CrossFit coaching knowledge and ability.</p>
            <button class="btn btn-dark">LEARN MORE</button>
        </div>
        <div class="col-5">
            <div><img src="assets\certification4.png" width="450" height="275" class="d-inline-block align-top img-flex" alt="" loading="lazy"></div>
            <h5>CERTIFIED CROSSFIT LEVEL 4 COACH</h5>
            <p>The Certified CrossFit Level 4 Coach credential is a CrossFit-specific designation for those who have earned the Certified CrossFit Level 3 Trainer designation and then successfully passed the CCFC performance evaluation. This credential is for the experienced individual seeking to demonstrate the highest level of practical coaching skills and knowledge.</p>
            <button class="btn btn-dark">LEARN MORE</button>
        </div>
    </div>
</div>

